@{
    ViewBag.Title = "Demo 3 : Column Chart (1)";
}

<div id="chart" style="width: 600px; height: 400px"></div>

<p>
    <a href="#" id="reload">Reload</a> |
    <a href="#" id="toggle">Toggle Orientation</a>
</p>

@section foot {
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(init);

        let dt, opt, cht;

        function init() {
            dt = new google.visualization.DataTable();
            // TODO: Data table columns: Group and Count
            dt.addColumn('string', 'Room Type');
            dt.addColumn('number', 'Count');


            let style = { bold: true, italic: false, fontSize: 20, color: 'purple' };

            opt = {
                title: 'Reservation Count By Room Type',
                fontName: 'calibri',
                fontSize: 16,
                titleTextStyle: { fontSize: 20 },
                chartArea: {
                    width: '80%',
                    height: '70%',
                    top: 60,
                    left: 80
                },
                // TODO: vAxis, hAxis, legend, animation, orientation
                legend: 'none',
                vAxis: {
                    title: 'Reservation Count',
                    titleTextStyle: style,
                    minValue: 0,
                },
                hAxis: {
                    title: 'Room Type',
                    titleTextStyle: style,
                },
                animation: {
                    duration: 500,
                    startup: true
                },
                orientation: 'horizontal'
            };

            cht = new google.visualization.ColumnChart($('#chart')[0]);

            $('#reload').click();
        }

        $('#reload').click(e => {
            e.preventDefault();

            let url   = '/Report/Data1';
            let param = {};

            $.getJSON(url, param, json => {
                dt.removeRows(0, dt.getNumberOfRows());
                dt.addRows(json);
                cht.draw(dt, opt);
            });
        });

        $('#toggle').click(e => {
            e.preventDefault();

            // TODO: Toggle orientation (horizontal <--> vertical)
            //       Toggle axis (vAxis <--> hAxis)
            opt.orientation = opt.orientation == 'horizontal' ? 'vertical' : 'horizontal';
            [opt.vAxis, opt.hAxis] = [opt.hAxis, opt.vAxis];

            cht.draw(dt, opt);

        });
    </script>
}