

@{
    ViewBag.Title = "Admin List";

    var ao = new AjaxOptions
    {
        HttpMethod = "get",
        UpdateTargetId = "target", // use to send the result to the destination when the result is come back
        LoadingElementId = "loader", // specify the loading item
        OnSuccess = "highlight"
    };
}


@using (Ajax.BeginForm(ao))
{

    <p style="display:inline-block; margin-right:5px">Search: </p>@Html.TextBox("name", null, new { autofocus = "" })
}

@section head {

}


<div id="target">
    @Html.Partial("_AdminList")
</div>



<!-- TODO: JavaScript -->
@section foot{
    <script>
        let timer = null;
        // this java script is use to when the user typeing the result will also changing
        // input event is the user type
        // settimeout is use to show the result after half second when finish typing
        $('#name').on('input', e => {

            //$(e.target.form).submit();
            clearTimeout(timer);
            timer = setTimeout(() => $(e.target.form).submit(),500);

        })
        function highligh() {
            // trim is remove the blank space in the vale
            let name = $('#name').val().trim();

            if (!name) return;
            let re = new RegExp(escapeRegExp(name), 'gi');

            $('td;nth-child(2)').each((i, el) => {

                let html = $(el).html.replace(re, '<mark></mark>');

                $(el).html(html);

            });
        }


    </script>

}