
@{
    ViewBag.Title = "Room";
    // TODO: AJAX option
    var ao = new AjaxOptions
    {
        HttpMethod = "get",
        UpdateTargetId = "target", // use to send the result to the destination when the result is come back
        LoadingElementId = "loader", // specify the loading item
        OnSuccess = "highlight"
    };
}

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Room Id",
        Value = "Id"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Room Status",
        Value = "status",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Name",
        Value = "name"
    });
}

@using (Ajax.BeginForm(ao))
{
    <p style="display:inline-block; margin-right:5px">Search By: </p>
    //@Html.DropDownList("type", listItems)
    @Html.DropDownList("type", new SelectList(new List<object>{new { value = "Id", text = "Room Id" },
                                                              new { value = "status", text = "Room Status" },
                                                              new { value = "name", text = "Name" },
                                                              }, "value", "text", 2))
    @Html.TextBox("room", null, new { autofocus = "" })
    <!--<input type="text" name="name" autofocus value="">-->
    <!--it use to enter the name then the name will in the textbox and make a autofocus-->
}

<div id="target">
    @Html.Partial("_Room")
</div>

@section foot{
    <script>
        let timer = null;
        // this java script is use to when the user typing the result will also changing
        // input event is the user type
        // settimeout is use to show the result after half second when finish typing
        $('#room').on('input', e => {

            //$(e.target.form).submit();
            clearTimeout(timer);
            timer = setTimeout(() => $(e.target.form).submit(), 500);

        })
        function highligh() {
            // trim is remove the blank space in the vale
            let name = $('#room').val().trim();

            if (!name) return;
            let re = new RegExp(escapeRegExp(name), 'gi');

            $('td;nth-child(2)').each((i, el) => {

                let html = $(el).html.replace(re, '<mark></mark>');

                $(el).html(html);
            });
        }
    </script>
}


