
@{
    ViewBag.Title = "Index";
}

<a href="~/Admin/CustomerEdit">cust edit</a>
<a href="~/Admin/Customredetail">cust detail</a>
<a href="~/Admin/ListCustomer">list cust</a>
<a href="~/Account/AdminLogin">admin login</a>
<a href="~/Account/CustLogin">cust login</a>
<a href="~/Account/Password">reset pass</a>
<a href="~/Account/Register">register</a>
<a href="~/Account/Detail">detail</a>

