@{
    ViewBag.Title = "Location";
}

@section head {
    <style>
        #map {
            width: 100%;
            height: 450px;
            border: 1px solid #333;
        }

        #info img {
            border: 1px solid #333;
            margin-top: 5px;
        }
    </style>
}

<p>
    <button id="home">Home</button>
    <select id="type">
        <option value="roadmap">Roadmap</option>
        <option value="satellite">Satellite</option>
        <option value="hybrid">Hybrid</option>
        <option value="terrain">Terrain</option>
    </select>
</p>

<div id="map"></div>

<div hidden>
    <div id="info">

       <b> Here We Are</b>
    </div>
</div>

@section foot {
    <script src="https://maps.googleapis.com/maps/api/js?key="></script>
    <script>
        const gm = google.maps;
        const center = new gm.LatLng(4.315632203710486, 101.12373245577123);

        const map = new gm.Map($('#map')[0], {

            center,
            zoom: 15,
            clickableIcons: false

        });

        const marker = new gm.Marker({
            map,
            position: center,
        });

        const info = new gm.InfoWindow({
            content: $('#info')[0]
        });

        info.open(map, marker);

        marker.addListener('click', e => {

            if (info.getMap())
                info.close();
            else
                info.open(map, marker);

        }) 

        $('#home').click(e => map.panTo(center));

        $('#type').change(e => map.setMapTypeId(e.target.value));
    </script>
}

